<% include header %>
  <% if(typeof errorMsg !== "undefined") { %>
     <p><%= errorMsg.msg %></p>
 <% } else { %>

  </div>
  <h1>Thank you your url is <a href=<%=data.tinyurl%>>https://urlshortay.herokuapp.com/<%=data.tinyurl %></a></h1>
</div>
<% } %>

<% include footer %>
