<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <title>Tiny URL App</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="page-header">su aplicación url corta</h1>
