<% include header %>

<div class="jumbotron">
  <form action="/create" method="post" >
    <input type="text" name="fullurl" placeholder="TYPE URL HERE">
    <input type="submit" name="convert">
  </form>


<% include footer %>

